.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "Lexend";

}

.employee-header-title {
    h2 {
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 10px;
        font-family: "Lexend";

        color: #2C7A51;
    }

}

.selected-employee {
    border: 1px solid rgb(235, 250, 237);
    background-color: rgb(235, 250, 237)
}

.btn-bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
    gap: 10px;


    .search-bar {
        width: 300px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 10px;
        outline: none;
    }

    .btn-add {
        background-color: #2C7A51;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        :hover {
            background-color: #2C7A51;
            color: #fff;
            transform: scale(1.1);
        }
    }

    .btn-change-password,
    .btn-edit {
        //Lesser green
        background-color: #2C7A51;
        color: #fff;
        font-weight: 500;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        padding: 5px 10px;
        animation: slideUp 0.2s ease-in-out;

        &:hover {
            background-color: #2C7A51;
            color: #fff;
            transform: scale(1.1);
        }
    }

    .btn-edit {
        background-color: #4682B4;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
        font-weight: 500;
    }
}

.employee-table {
    transition: all 0.25s ease-in-out;
    animation: slideUp 0.2s ease-in-out;

    //Center text inside each cell
    td {
        text-align: center;
    }

    //Change thead color to #B6CAC0
    thead {
        color: #B6CAC0
    }

    tr {
        font-size: 13px;
    }
}

.employee-edit-form,
.employee-add-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    padding: 10px;
    //Margin left right
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    animation: slideUp 0.2s ease-in-out;

    .employee-edit-form-header,
    .employee-add-form-header {
        color: #2C7A51;
    }

    .form-group-position,
    .form-group {
        font-weight: 500;

        label {

            color: #2C7A51;
        }
    }

    .form-group-position {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }

    .btn-submit {
        background-color: #2C7A51;
        color: #fff;
        width: 100%;
        padding: 5px 10px;
        border-radius: 10px;
        font-weight: 500;
        margin-top: 12px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        :hover {
            background-color: #2C7A51;
            color: #fff;
            transform: scale(1.1);
        }

    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}