.container {
  --switch-transition-duration: 0.3s;
  width: 100%;
  position: relative;
  float: right;
  font-family: "Lexend";
  margin-left: 5px;
}

.header {
  margin-top: 25px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;

  color: #0F2319;
}

/* Navigation bar */
.btn-bar {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.right-side-btn-group {
  position: absolute;
  right: 1%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



.search-bar {
  padding: 10px;
  width: 15%;
  height: 50%;
  border: 1.1px solid #E2EFE8;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 12px;
}



.btn-plus {
  float: right;
  width: 37px;
  height: 37px;
  background-color: #EBFAED;
  border-radius: 10px;
  padding-right: 30px;

  button {
    align-items: center;
    width: 37px;
    height: 37px;
  }

  svg {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-setting {
  float: right;
  width: 37px;
  height: 37px;
  background-color: #EBFAED;
  border-radius: 10px;

  button {
    align-items: center;
    width: 37px;
    height: 37px;
  }

  svg {
    margin-left: auto;
    margin-right: auto;
  }
}









.wrapper {
  width: 100%;

  display: flex;

  .wrapper-left {
    flex: 60%;
  }

  .wrapper-right {
    flex: 40%;
  }
}

.wrapper-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 75vh;
  display: flex;
  margin-top: 20px;
  // justify-content: center;
  // align-items: center;
  //border: 1px solid black;
}


//********** selection **********
.selectionBar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  //margin: 20px auto;
}

.selectionItem {
  padding: 10px;
  font-size: 14px;
  color: #B6CAC0;
  cursor: pointer;
  border: none;
  background: none;

  &:active {
    color: #0F2319;
  }
}

.selected {
  border-bottom: 3px solid orange;
}

.selectionItem:hover {
  color: #0F2319;
  border-bottom: 3px solid orange;
}

//************ product card items ************
.products {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.productQuantity {

  font-size: 15px;
  font-weight: 400;

  position: absolute;
  bottom: 10px;
  right: 10px;

  &.in-stock {
    color: #388634;
  }

  &.out-of-stock {
    color: #B6CAC0;
  }

}

.product {
  display: flex;
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }



}

.productDetail {
  margin: 15px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.productImage {
  margin: 15px 0 15px 15px;
  width: 50px;
  height: 66px;
  object-fit: cover;
}

.productType {
  font-size: 10px;
  font-weight: 400;
  color: #B6CAC0;
}

.productCapacity {
  //display: block;
  font-size: 10px;
  font-weight: 400;
  color: #B6CAC0;
}

//Each product section
.productName {
  //display: block;
  font-size: 14px;
  font-weight: 500;
  color: #0F2319;
}

.productPrice {
  //display: block;
  font-size: 14px;
  font-weight: 500;
  color: #FABC50;
}



//For storing, doesnt display
.productBrand,
.productManufacturer,
.productDescription,
.productCountryOrigin,
.productImportPrice,
.productImages {
  display: none;
}

// *********** detail payment ***********
.payment {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  animation: slideIn var(--switch-transition-duration) forwards;

}

//On click on product card. The cart will slide away and the payment will slide in.
.add-product-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #B6CAC0;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  animation: slideUp var(--switch-transition-duration) forwards;

  .add-product-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    .add-product-title {
      font-size: 24px;
      font-weight: 600;
      color: #2C7A51;
      margin-bottom: 10px;
    }

    .add-product-title-underline {
      width: 50px;
      height: 2px;
      background-color: #2C7A51;
    }
  }

  .images-preview {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    //For main image
    .main-image-preview-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #B6CAC0;
      border-radius: 10px;
      overflow: hidden;
      width: 20%;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    //For other images
    .image-preview-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #B6CAC0;
      border-radius: 10px;
      overflow: hidden;
      width: 20%;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }



    .image-preview-container:hover {
      cursor: pointer;
    }
  }


  .form-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &.images {
      align-items: center;
    }

    label {
      flex: 1;
      margin-right: 10px;
      color: #0F2319;
    }

    input,
    button {
      flex: 2;
    }
  }

  .images-label {
    display: flex;
    align-items: center;
    color: #0F2319;
  }

  .add-product-button {
    background-color: #2C7A51;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #1e5633;
    }
  }
}

.file-error {
  width: 100%;
  color: red;
  font-size: 1 rem;
  text-align: center;
}

.state-slide-in {
  animation: slideIn var(--switch-transition-duration) forwards;
}

.state-slide-out {
  animation: slideOut var(--switch-transition-duration) forwards;
}

.state-slide-up {
  animation: slideUp var(--switch-transition-duration) forwards;
}

.state-slide-down {
  animation: slideDown var(--switch-transition-duration) forwards;
}

//Order side
.customer-search-bar {
  width: 100%;
  margin-top: 20px;
}

.delivered-checkbox {

  font-size: 18px;
  font-weight: 500;
  color: #0F2319;
}

@keyframes slideDownTxt {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(200%);
  }
}




.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0F2319;
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
}

.clear {
  padding: 10px;
  font-size: 18px;
  color: #B6CAC0;
  //background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear:active,
.clear:hover {
  color: #0F2319;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.checkbox {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.image {
  width: 10%;
  height: 66px;
  object-fit: cover;
}



.name {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #0F2319;
}

.price {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #FABC50;
}

.quantity {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
}

.order-item-detail {
  width: 20%;
  padding-left: 20px;

  .btn-detail {
    &:hover {
      path {
        fill: #0CE622;
      }
    }
  }
}

.decrement,
.increment {
  padding: 3px;
  font-size: 11px;
  color: #388634;
  background-color: #EBFAED;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;

}

//******** total payment ********
.summary {
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  padding: 10px;


  .subtotal,
  .tax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;

    color: #B6CAC0;
  }

  .tax {
    margin-top: 10px;
  }

  .subtotal {
    margin-top: 20px;
  }
}

.delete-product-button {
  //Red
  background-color: #E74C3C;
  color: white;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  width: 15%;
  height: 37px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #c0392b;
  }

  //Add a button slide up animation at start
  animation: buttonSlideUp 0.5s ease-in-out forwards;

}

.disabled {
  background-color: #B6CAC0;
  color: #0F2319;
  cursor: not-allowed;

  &:hover {
    background-color: #B6CAC0;
  }
}

.btn-add {
  width: 15%;
  height: 37px;
  margin-left: 20px;
  background-color: #2C7A51;
  color: #ffffff;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  transition: all 0.2s ease-in-out;

  overflow: hidden;

  &:hover {
    transform: scale(1.05);
  }
}

//Button slide up animation
@keyframes buttonSlideUp {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  color: #0F2319;
}

.btn-payment {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    width: 200px;
    height: 40px;
    color: #FFFFFF;
    background-color: #2C7A51;
    border-radius: 12px;

    &:active {
      background-color: #369763;
    }
  }

}