.container {
    width: 100%;
    position: relative;
    float: right;
    font-family: "Lexend";
}

.lower-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

/* Header title */
.header {
    margin-top: 25px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #0F2319;
}

.mini-home-logo {
    margin: 15px 0 15px 0;
}

/* Navigation bar */
.btn-bar {
    width: 100%;
}

.search-bar {
    padding: 10px;
    width: 217px;
    height: 37px;
    border: 1.1px solid #E2EFE8;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 12px;
}

.btn-add {
    width: 135px;
    height: 37px;
    margin-left: 20px;
    background-color: #2C7A51;
    color: #ffffff;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.btn-setting {
    float: right;
    width: 37px;
    height: 37px;
    background-color: #EBFAED;
    border-radius: 10px;

    button {
        align-items: center;
        width: 37px;
        height: 37px;
    }

    svg {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Table content */
.table-content {
    width: 100%;
    margin-top: 20px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s ease-in-out;
    animation: fadein 0.5s;

    .name-title {
        width: 300px;
    }

    .label {
        font-size: 13px;
        width: 100%;
    }

    .data {
        font-size: 11.5px;
        //Center item in a row

    }

    .sort-icon {
        margin-left: 6px;
    }

    .delete {
        .btn-delete {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            margin-top: 5px;


            path {
                fill: #000000;
            }

            &:hover {
                background-color: #ffffff;

                path {
                    fill: #000000;
                }
            }
        }
    }

    .delete-icon {

        border-radius: 5px;
        margin-top: 5px;

        path {
            fill: #ffffff;
        }

        &:hover {
            color: red;

            path {
                fill: #000000;
            }
        }

    }
}

.add-customer-loading {
    justify-content: center;
    align-items: center;
}

.add-container {
    display: flex;
    flex-grow: 1
}

//Fade in animation
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
}


.label-title {
    //Each row has a text and a sort icon
    //Center both, keep display as table-cell

    //Sort icon
    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.table-content tr {
    border-bottom: 1px solid #F4F9F7;
}

thead td {
    padding: 10px 20px 20px 0;
    color: #B6CAC0;
}

tbody td {
    padding: 20px 0 20px 0;
}

.checkmark {
    width: 17px;
    height: 17px;
    border: 1px solid #E2EFE8;
    border-radius: 4px;
    position: relative;
    opacity: 0;
}

.checkmark-title {
    width: 17px;
    height: 17px;
    border: 1px solid #E2EFE8;
    border-radius: 4px;
    position: relative;
    background-color: #ffffff;
    opacity: 0;

}

tbody {
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

//=====membership: gold=====
.membership-gold {

    color: #FFC226;
    background-color: #FEF7E6;
    border-radius: 10px;
}

//=====membership: silver=====
.membership-silver {

    color: #BBBAB9;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.membership-bronze {

    color: #C97C5D;
    background-color: #FDF2ED;
    border-radius: 10px;
}

.membership-container {
    display: flex;
    align-items: center;


}


.membership-bronze,
.membership-gold,
.membership-silver {
    max-width: 100px;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;

}



.loading {

    height: 30vh;
    width: 100%;
}

.table-content tr {
    border-collapse: collapse;
}

.fa-sort {
    width: 10.01px;
    height: 17px;
    color: #B6CAC0;
    background-color: white;
}

tbody .avatar {
    width: 37px;
    height: 37px;
    align-items: center;
    border-radius: 5px;
    margin-right: 16px;
}

/* customers.module.scss */


.table-content .people {}